/*aqui van los estilos de la pagina cultura maya viva */
body{
    background: #7D4427;
    font-family: Arial, Helvetica, sans-serif ;
}
header{
    background: #486B00;
    font: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
/* en cuanto este el html listo lo vinculare*/