
.logo 
{
    float:left;
    width:128px;
    height: 128px;
}
/* comin*/
header h1 
{ 
  text-align: center;
  padding:35px;
  height: 10%;
  width:95%;
  color:#ffffff;
  background:#1c1208;
  left:200px;
  margin-bottom: 1px;
}

div .menu
{   
    text-decoration: none;
    font-weight: normal;
    width:19.5%;
    height: 5%;
    color:#551400;
    background:#fec536 ;
    float: left;
    padding:5px;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    margin:#551400;
    padding: 2.2px;
}
div .menu:hover
{
    background:#e77e01;
}
html 
{
    font-family:Arial, Helvetica, sans-serif;
}
img.contenedor
{
    background-position-x: center;
width:100%;
height: 50%;
position: relative;
}
body
{
    background:#fec536;
}
.parrafo 
{
    padding: 1em;
    width: 30%;
    position: absolute;
    top:50%;
    left: 50%;
    color: #ffffff;;
    background: #551400;
    opacity: 50%;
}