
.logo 
{
    float:left;
    width:128px;
    height: 128px;
}
/* comin*/
header h1 
{ 
  text-align: center;
  padding:35px;
  height: 10%;
  color:#ffffff;
  background:#A2C523;
  left:200px;
  margin-bottom: 1px;
}

div .menu
{   
    text-decoration: none;
    font-weight: normal;
    width:260.23px;
    height: 35px;
    color:#ffffff;
    background:#A2C523 ;
    float: left;
    padding:5px;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    margin:#000;
    padding: 2.2px;
}
div .menu:hover
{
    background:#486B00;
}
html 
{
    font-family:Arial, Helvetica, sans-serif;
}
img.contenedor
{
width:1331px;
height:450px;
position: relative;
}
h5.parrafo br
{
    width: 100px;

    position: absolute;
    top:auto;
    bottom: auto;
    color:#fff;
}