
img.logo
{
        right:500;
        border:1px;
        border-color:#0000;
        display: inline-block;
}
body
{
  background:url(imagenes/ss.jpg);
}
header h1 {
    background-color: #A2C523;
    color: #ffff;
    margin-left: 150px;
}

body {
    background: #ffffff;
}

h5.parrafo br {
    color: #0000;
    font-style: Algerian;
    size: 30px;

}