/*Aqui van los estilos de lugares  turisticos*/


h3{
    color:blue;
}

f div {
    width: 30%;
    height: 80%;
    background: #313131;;
    float: left;
}

.caja01{
    
    position: absolutes;
    top:10%;
    
    padding: 2%;

}

.caja{
position: relative;
top:0%;
bottom:0%;
right: 0%;
left:4%;
}

.caja2{
    position: relative;
    top:0%;
    bottom:0;
    right: 0;
    left:7%;   
}
.caja3{
    position: relative;
    top:0%;
    bottom:0;
    right: 0;
    left:1%;   
}

.caja4{
    position: relative;
    top:0;
    bottom:0;
    right: 0;
    left:4%;   
}

.caja5{
    position: relative;
    top:0;
    bottom:0;
    right: 0;
    left:7%;   
}
f
{
padding: 2%;
}