/*Aqui van los estilos de lugares  turisticos*/


h3{
    color:#00565f;
}

f div {
    width: 30%;
    height:90%;
    background: #ffffff;
    float: left;
    padding: 1%;
}

.caja01{
    
    position: relative;
    top:10%;
    left:0%;

}

.caja{
position: relative;
top:0%;
bottom:0%;
right: 0%;
left:2%;

}

.caja2{
    position: relative;
    top:0%;
    bottom:0;
    right: 0;
    left:3.7%;
     
}
.caja3
{
    position: relative;
    top:1%;
    left:0%;
    top:1em;
}

.caja4{
    position: relative;
    left:2%;
    top:1em;
}

.caja5{
    position: relative;
    left:3.7%;
    top:1em;
}
